<div class="contain-below-header">
  <div class="dashboard-container">

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Upload Data</ng-template>
    <div>
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">
      <span class="pl-3">{{filename}}</span>
    </div>
    <div class="filetextarea">
      <textarea [(ngModel)]="filetext" class="fileText"></textarea>
    </div>
    <div *ngIf='filename'>
      <button mat-button matStepperNext (click)="validateData()">Next</button>
    </div>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Validate Data</ng-template>
    <div *ngIf='filename' class="full-size-table">
      <ng-container 
  *ngTemplateOutlet="validateTable">
    
</ng-container>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Import Data</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

  </div>
</div>


<ng-template #validateTable>

  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" >
        <mat-checkbox 
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="fname">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="lname">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let element"> <a><span class="pointer-cursor" 
        (click)='goToUserTabs($event)'>{{element.username}}</span></a> </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</ng-template>