<div class="contain-below-header">
  <div class="dashboard-container">
    
    <mat-card class='form-card'>
      <form class='form-container'>
      <div class='profile-pic-wrap'> 
        <i class='fa fa-user-circle'></i>
      </div>
      <div class='create-user-form'>
      <div class='w-90'>
      <mat-form-field class='w-half'>
        <mat-label>Username</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Last name</mat-label>
        <input matInput >
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Confirm password</mat-label>
        <input matInput type="password">
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>External Id</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Domain</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class='w-half'>
      <mat-form-field class='w-90'>
        <mat-label>Domain ID</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class='w-100'>
      <mat-form-field class='w-100'>
        <mat-label>Description</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
</form>
  <div class='footer'>
    <button mat-raised-button color="primary">
      CREATE
    </button>
    <button mat-button color="primary" routerLink="/users">CANCEL</button>
  </div>
    </mat-card>
    </div>
    </div>
